@font-face {
    font-family: "iconfont";
    src: url(./iconfont.ttf) format('truetype');
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icodangqianweizhi:before { content: "\e604"; }

.icon-back:before { content: "\e697"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-user:before { content: "\e90e"; }

.icon-jianhao:before { content: "\e615"; }

.icon-iconfontdizhi:before { content: "\e61d"; }

.icon-cost:before { content: "\e666"; }

.icon-bofang:before { content: "\e6ad"; }

.icon-ziliao:before { content: "\e642"; }

.icon-dianpu:before { content: "\e71b"; }

.icon-dianzan:before { content: "\e673"; }

.icon-pinglun:before { content: "\e64a"; }

.icon-guanzhukehu:before { content: "\e67d"; }

.icon-zhengchangkehu:before { content: "\e684"; }

.icon-101:before { content: "\e621"; }

.icon-0801zengjia:before { content: "\e61e"; }

.icon-kefu:before { content: "\e65a"; }

.icon-shengriliwu:before { content: "\e61b"; }

.icon-tuichu:before { content: "\e638"; }

.icon-wukong:before { content: "\e609"; }

.icon-tixing:before { content: "\e68e"; }

.icon-yejiguanli:before { content: "\e637"; }

.icon-gongzhonghao:before { content: "\e63f"; }

.icon-remind:before { content: "\e61a"; }

.icon-pingjuchaxun:before { content: "\e626"; }

.icon-qianyuejilu:before { content: "\e63e"; }

.icon-shouru:before { content: "\e645"; }

.icon-pinglun1:before { content: "\e60c"; }

.icon-chat:before { content: "\e625"; }

.icon-tousujianyi:before { content: "\e616"; }

.icon-store:before { content: "\e6d8"; }

.icon-course:before { content: "\e60e"; }

.icon-lock:before { content: "\e69b"; }

.icon-kehuchaxun:before { content: "\e601"; }

.icon-balloons:before { content: "\e674"; }

.icon-kehu:before { content: "\e603"; }

.icon-dianzan1:before { content: "\e600"; }

.icon-wushuju:before { content: "\e643"; }

.icon-weizhi:before { content: "\e654"; }

.icon-yeji:before { content: "\e682"; }

.icon-bofang1:before { content: "\e624"; }

.icon-daibanshixiang:before { content: "\e641"; }

.icon-shanchu:before { content: "\e658"; }

.icon-PC:before { content: "\e671"; }

.icon-jiahao:before { content: "\e607"; }

.icon-weiwancheng:before { content: "\e651"; }

.icon-dianhua:before { content: "\e76e"; }

.icon-icon--:before { content: "\e755"; }

.icon-zhengjian:before { content: "\e655"; }

